.button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  position: relative;
  z-index: 1001;
}

.line {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #333;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.line1Open {
  transform: rotate(45deg) translate(5px, 5px);
}

.line2Open {
  opacity: 0;
}

.line3Open {
  transform: rotate(-45deg) translate(7px, -7px);
}

@media (max-width: 768px) {
  .button {
    display: flex;
  }
}