.navItem {
  position: relative;
  list-style: none;
  margin: 0 1rem;
  padding: 0.5rem 0;
}

.navText {
  position: relative;
  z-index: 1;
  color: #fffcfc;
  font-weight: 500;
  transition: color 0.3s ease;
}



.navItem:hover .underline {
  width: 100%;
}

.navItem:hover .navText {
  color: #ffffff;
}

@media (max-width: 768px) {
  .navItem {
    margin: 0.5rem 0;
  }
}